.show-container {
  position: relative;
}

.banner-img img {
  height: 350px;
  object-fit: cover;
}

.margin-negative {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
}


form > .string {
  margin-bottom: 0px;
}
